* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--bg-section-color: #EDF2EC;
}

:root {
	--links-nav-color: #010201;
}

:root {
	--red-color: #E06733;
}

:root {
	--green-color: #499A18;
}

:root {
	--grey-color: #717171;
}

:root {
	--dark-grey-color: #636060;
}

.text-green {
	color: var(--green-color);
}


body {
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: #000000
}

.container {
	width: 1440px;
	margin: 0 auto;
}

.header-container {
	background: var(--bg-section-color);
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 42px 110px;
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	list-style: none;
}

.nav-link {
	padding-left: 46px;
	text-decoration: none;
	color: var(--links-nav-color);
	transition: 0.3s;
}

.nav-link:hover {
	color: var(--red-color);
}

.nav-link:active {
	color: var(--red-color);
}

.welcome-container {
	padding-right: 109px;
	background: var(--bg-section-color);
}

.welcome-text-container {
	padding-left: 782px;
	padding-bottom: 94px;
}

.welcome-title {
	font-weight: 700;
	font-size: 45px;
	line-height: 50px;
	color: var(--grey-color);
}

.welcome-text {
	padding-top: 42px;
	padding-bottom: 48px;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: var(--dark-grey-color);
}

.welcome-image-container {
	padding: 62px 224px 62px 0px;
}

.btn-learn-more {
	padding: 14px 27px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	border-style: solid;
	border-color: var(--red-color);
	border-radius: 10px;
	border-width: 2px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}