* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: #000000
}

.container {
	width: 1440px;
	margin: auto;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 42px 109px;
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 50px;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style: none;
}

.nav-link {
	padding-left: 46px;
	text-decoration: none;
	color: var(--links-nav-color);
	transition: 0.3s;
}

.nav-link:hover {
	font-weight: 700;
	color: var(--red-color);
}

.nav-link:active {
	color: var(--red-color);
}

.welcome-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 109px;
}

.welcome-article {
	width: 549px;
	padding-top: 98px;
	padding-bottom: 94px;
}

.welcome-title {
	font-weight: 700;
	font-size: 45px;
	line-height: 50px;
	color: var(--grey-color);
}

.welcome-text {
	padding-top: 42px;
	padding-bottom: 48px;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: var(--dark-grey-color);
}

.welcome-image {
	position: relative;
	margin-top: 62px;
	width: 449px;
}

.leaf1 {
	position: absolute;
	top: 111px;
	left: 258px;
}

.leaf2 {
	position: absolute;
	top: 0;
	left: 19px;
}

.leaf3 {
	position: absolute;
	top: 199px;
	left: 102px;
}

.leaf4 {
	position: absolute;
	top: 200px;
	left: 0;
}

.leaf5 {
	position: absolute;
	top: 253px;
	right: 0;
}

.btn-learn-more {
	padding: 10px 24px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	border-style: solid;
	border-color: var(--red-color);
	border-radius: 10px;
	border-width: 2px;
}

.about-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0px 109px;
}

.about-article {
	width: 605px;
	padding-bottom: 155px;
	padding-top: 161px;
}

.about-title {
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: var(--green-color);
}

.about-text {
	padding-top: 40px;
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: var(--dark-grey-color);
}

.about-image {
	padding: 94px 0px;
}

.bg-green {
	background: var(--bg-section-color);
}

.text-green {
	color: var(--green-color);
}

.text-red {
	color: var(--red-color);
}

:root {
	--bg-section-color: #EDF2EC;
}

:root {
	--links-nav-color: #010201;
}

:root {
	--red-color: #E06733;
}

:root {
	--green-color: #499A18;
}

:root {
	--grey-color: #717171;
}

:root {
	--dark-grey-color: #636060;
}