html {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

:root {
	--bg-section-green-color: #EDF2EC;
}

:root {
	--links-nav-black-color: #010201;
}

:root {
	--red-color: #E06733;
}

:root {
	--green-text-color: #499A18;
}

:root {
	--light-green-hover-color: #D6E7D2;
}

:root {
	--bright-green-hover-color: #C1E698;
}

:root {
	--grey-text-color: #717171;
}

:root {
	--dark-grey-text-color: #636060;
}

:root {
	--light-grey-border-color: #E3E1D5;
}

:root {
	--light-grey-circle-color: #D9D9D9;
}

:root {
	--dark-grey-circle-color: #AEA1A1;
}

:root {
	--green-accordion-color: #DCE9D9;
}

body {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 35px;
	color: black;
}

.bg-green {
	background: var(--bg-section-green-color);
}

.text-green {
	color: var(--green-text-color);
}

.text-red {
	color: var(--red-color);
}

.wrapper {
	max-width: 1220px;
	margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1439px) {
	.wrapper {
		max-width: 668px;
	}
}

@media (max-width: 767px) {
	.wrapper {
		max-width: 330px;
	}
}

.btn-bordered {
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 400;
	background: none;
	color: var(--red-color);
	border-style: solid;
	border-color: var(--red-color);
	border-radius: 5px;
	border-width: 1px;
}