.service-section-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.service-header-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 40px 0;
}

.service-title {
	max-width: 306px;
	font-family: 'Inika', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 40px;
	line-height: 52px;
	color: var(--green-text-color);
}

.service-btns-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	padding: 0 0 0 140px;
}

.service-btn {
	width: 161px;
	height: 50px;
	margin-right: 38px;
	transition: 0.6s;
}

.service-btn:hover {
	background-color: var(--light-grey-border-color);
}

.service-btn.active {
	color: white;
	background-color: var(--red-color);
}

.service-btn.disabled {
	pointer-events: none;
}

.service-items-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: center;
	padding: 40px 0 64px 0;
}

.service-item {
	display: flex;
	flex-direction: column;
	width: 330px;
	margin-bottom: 55px;
	transition: 0.7s;
}

.service-img {
	width: 330px;
	height: 350px;
}

.blur {
	filter: blur(3px) opacity(50%)
}

.service-img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 0 0;
}

.service-item-description {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100px;
	border-style: solid;
	border-color: var(--light-grey-border-color);
	border-width: 1px;
	border-radius: 0 0 20px 20px;
}

.service-item-description-title {
	padding: 10px 0 0 0;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: var(--red-color);
}

.service-item-description-text {
	padding: 13px 0 0 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: var(--grey-text-color);
}

@media (min-width: 768px) and (max-width: 1439px) {

	.service-title {
		padding: 20px 0 41px 0;
		font-size: 35px;
		line-height: 46px;
	}

	.service-btns-container {
		padding: 0;
	}

	.service-items-container {
		padding: 0 0 34px 0;
	}

	.service-item {
		width: 280px;
		margin-bottom: 38px;
	}

	.service-img {
		width: 280px;
		height: 350px;
	}

	.service-item-description-text {
		text-align: center;
		padding: 10px 30px;
	}
}

@media screen and (max-width: 767px) {
	.service-header-container {
		padding: 30px 0 0 0;
	}

	.service-title {
		max-width: 187px;
		padding: 0;
		font-size: 25px;
		line-height: 33px;
	}

	.service-btns-container {
		padding: 28px 0 0 0;
	}

	.service-btn {
		width: 121px;
		height: 35px;
		font-size: 15px;
		line-height: 20px;
		margin: 10px 10px 0 0;
	}

	.service-items-container {
		padding: 40px 0 0 0;
		margin-bottom: -7px;
	}

	.service-item {
		width: 280px;
		margin-bottom: 38px;
		margin: 0 auto;
		margin-bottom: 34px;
	}

	.service-img {
		width: 280px;
		height: 350px;
	}

	.service-item-description-text {
		text-align: center;
		padding: 10px 30px;
	}
}